.btn {
  display: block;
  width: max-content;
  max-width: 100%;
  padding: 0.78rem 0.96rem;
  background: $primaryColor;
  border-radius: 1.81481rem;
  color: #fff;
  font-size: 0.66667rem;
  font-weight: 600;
  transition: 0.3s all, 0s scale;
  cursor: pointer;
  &:hover {
    background: $darkenPrimaryColor;
  }
  &:active {
    scale: 0.99;
  }
  &--white {
    padding: 0.51852rem 1.07407rem 0.51852rem 1.11111rem;
    background: #FFF;
    border-radius: 1.40741rem;
    outline: 0.037rem solid transparent;
    font-size: 0.74074rem;
    color: $primaryColor;
    &:hover {
      background: transparent;
      outline-color: #fff;
      color: #fff;
    }
  }
  &--empty {
    position: relative;
    padding: 0;
    background: none !important;
    scale: 1 !important;
    font-size: 0.74074rem;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0.037rem;
      background: #fff;
      transition: inherit;
    }
    &::before {
      bottom: 100%;
      right: 0;
    }
    &::after {
      top: 100%;
      left: 0;
    }
    &:hover {
      &::before,
      &::after {
        width: 100%;
      }
    }
  }
  &--green {
    background-color: #8DC44D;
    &:hover {
      background-color: darken(#8DC44D, 7%);
    }
  }
  &--arrow {
    position: relative;
    padding-right: 2.5rem;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 1.04rem;
      transform: translateY(-50%);
      width: 1rem;
      height: 1rem;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='16' viewBox='0 0 27 16' fill='none'%3E%3Cpath d='M26.7071 8.70711C27.0976 8.31658 27.0976 7.68342 26.7071 7.29289L20.3431 0.928932C19.9526 0.538408 19.3195 0.538408 18.9289 0.928932C18.5384 1.31946 18.5384 1.95262 18.9289 2.34315L24.5858 8L18.9289 13.6569C18.5384 14.0474 18.5384 14.6805 18.9289 15.0711C19.3195 15.4616 19.9526 15.4616 20.3431 15.0711L26.7071 8.70711ZM0 9H26V7H0V9Z' fill='white'/%3E%3C/svg%3E") no-repeat center / contain;
      transition: inherit;
    }
    &:hover {
      &::after {
        transform: translate(10%, -50%);
      }
    }
  }
}

@media (max-width: 768px) {
  .btn {
    &--white {
      padding: 0.52rem 1.1rem;
    }
  }
}

@media (max-width: 480px) {
  .btn {
    &--white {
      padding: 0.45rem 0.37rem;
      font-size: 0.51852rem;
    }
  } 
}